pytest==8.4.2
pytest-html==4.1.1
allure-pytest==2.15.0
allure-python-commons==2.15.0
PyYAML==6.0.3
openpyxl==3.1.5
requests==2.32.5
Faker==37.11.0
ddddocr==1.5.6
Pillow==9.5.0
Appium-Python-Client==5.2.4
playwright==1.55.0
pytest-playwright==0.7.1
pyserial==3.5